## INSTRUCTIONS
- Try to write the code by yourself based on basic instructions provided in the notebook Lesson 5.
- Run the cell and, in case, try to fix the error comparing with code in notebook Lesson 5. This phase is IMPORTANT to fix in memory commands and syntax
- If you still have problems, go to ChatGPT and write "create a python code that perform ..exercise..instructions". Cut and paste the code in a new notebook cell 
- Customize the code if necessary and run it. 
- IMPORTANT: go through each single instructions of the new code and try to execute mentally the code in order to understand the flow of the program and the meaning of the commands. There are 2 goals here. First: fix commands meaning and syntax. Second: understand solution strategy
- COMPARE the new code with previous code in order to understand the errors you made

You can also go to stackoverflow to ask question about python code.

## FIRST IMPORT THE DATASET

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
url = 'https://raw.githubusercontent.com/pal-dev-labs/Python-for-Economic-Applications-2024-2025/refs/heads/main/Data/sales_data.csv'
sales_data = pd.read_csv(url)
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             157 non-null    int64
 1   Manufacturer           157 non-null    object
 2   Model                  157 non-null    object
 3   Sales_in_thousands     157 non-null    float64
 4   Price_in_thousands     157 non-null    float64
 5   TV Advert (thousands)  157 non-null    float64
 6   Social Advert          157 non-null    int64
 7   Engine_size            157 non-null    float64
 8   Horsepower             157 non-null    float64
 9   Wheelbase              157 non-null    float64
 10  Width                  157 non-null    float64
 11  Length                 157 non-null    float64
 12  Curb_weight            157 non-null    float64
 13  Fuel_capacity          157 non-null    float64
 14  Fuel_efficiency        157 non-null    float64
 15  Latest_Launch          157 non-null    object
 16  Power_perf_factor      157 non-null    float64
 17  Awarded                157 non-null    int64
dtypes: float64(12), int64(3), object(3)
memory usage: 22.2+ KB

In [7]:
sales_data

,Unnamed: 0,Manufacturer,Model,Sales_in_thousands,Price_in_thousands,TV Advert (thousands),Social Advert,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Awarded
0,0,Acura,Integra,16.919,21.50,142.516144,53481,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,0
1,1,Acura,TL,39.384,28.40,383.026416,39441,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,0
2,2,Acura,CL,14.114,0.00,165.928640,44114,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,0.000000,0
3,3,Acura,RL,8.588,42.00,63.259267,98103,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,0
4,4,Audi,A4,20.397,23.99,156.508762,38450,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,152,Volvo,V40,3.545,24.40,70.518707,28535,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,0
153,153,Volvo,S70,15.245,27.50,171.875269,117895,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,0
154,154,Volvo,V70,17.531,28.80,172.154270,102228,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,0
155,155,Volvo,C70,3.493,45.50,29.538936,100522,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,0
156,156,Volvo,S80,18.969,36.00,188.781516,28490,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,0

In [50]:
sales_data.columns

Index(['Unnamed: 0', 'Manufacturer', 'Model', 'Sales_in_thousands',
       'Price_in_thousands', 'TV Advert (thousands)', 'Social Advert',
       'Engine_size', 'Horsepower', 'Wheelbase', 'Width', 'Length',
       'Curb_weight', 'Fuel_capacity', 'Fuel_efficiency', 'Latest_Launch',
       'Power_perf_factor', 'Awarded'],
      dtype='object')

#   --------- START HERE--------- 
    
    When you ask to GPT if you specify the name of the columns above and the name of the dataframe **sales data** you will have specific answer for your problem

## Exercises for Boolean Filtering with Pandas

1. Filter by Price and Horsepower  
Filter all cars where the Price_in_thousands is less than $20,000 and the Horsepower is greater than 200.  
Display the following columns:  
    - Manufacturer
    - Model
    - Price_in_thousands
    - Horsepower
2. Filter Cars with High Sales and TV Ads   
Extract all rows where Sales_in_thousands is greater than 50 and TV Advert (thousands) is greater than 5.  
Display the following columns:  
    - Manufacturer
    - Model
    - Sales_in_thousands  
3. Filter Cars Awarded and High Fuel Efficiency  
Retrieve all cars that have won awards (Awarded is True) and have a Fuel_efficiency of more than 30 miles per gallon.  
Display the following columns:
    - Manufacturer
    - Model
    - Fuel_efficiency

## Exercises for Plotting with Matplotlib
1. Plot Price vs Horsepower  
Create a scatter plot (ASK GPT HOW to create a scatter plot) of:
    - y-axis: Price_in_thousands
    - x-axis: Horsepower  
Add appropriate labels for the axes and a title.

2. Sales Distribution by Manufacturer  
Create a bar plot (ask GPT how to create a bar plot) showing the total Sales_in_thousands for the top 5 manufacturers with the highest sales.
- Rotate the x-axis labels for better readability.  

3. Fuel Efficiency Histogram  
Plot a histogram (ask GPT how to create an histogram) of the Fuel_efficiency column to visualize the distribution. Use 15 bins.  
Add labels for the axes and a title.

## Exercises for Extracting Data and Plotting with Matplotlib
1. Extract and Plot High-Performance Cars   
Extract cars where the Power_perf_factor is greater than 100.    
Create a bar chart (ask GPT how to create plt.bar() command) of:    
- x-axis: Model
- y-axis: Horsepower  
Rotate the x-axis labels for clarity.

2. Sales Trend for Top Manufacturers  
Extract data for the top 3 manufacturers based on total Sales_in_thousands.  
Create a line plot showing Sales_in_thousands for these manufacturers.  
Ensure each manufacturer has a different line color.

3. Fuel Efficiency by Engine Size  
Extract cars where the Engine_size is between 2.0 and 5.0.  
Create a scatter plot of:  
- x-axis: Engine_size
- y-axis: Fuel_efficiency  
Add a trendline to visualize the relationship.

# Challenges
## Linear Regression Exercises
1. Exercise 1: Predict Price Based on Horsepower  
Goal: Perform a linear regression to predict Price_in_thousands based on Horsepower.

Instructions:  

- Import the necessary libraries (pandas, scikit-learn, and matplotlib).
- Use the DataFrame df with the columns Price_in_thousands and Horsepower. 
- Split the data into training and test sets (80% training, 20% test).
- Train a linear regression model to predict the Price_in_thousands based on Horsepower.
- Plot the actual vs. predicted prices on a scatter plot.
- Calculate and display the Mean Squared Error (MSE) and R² score.

2. Exercise 2: Predict Fuel Efficiency Based on Engine Size and Curb Weight  
Goal: Perform a multiple linear regression to predict Fuel_efficiency using Engine_size and Curb_weight.

Instructions:

- Import the necessary libraries (pandas, scikit-learn, and matplotlib).
- Use the columns Fuel_efficiency, Engine_size, and Curb_weight from the DataFrame sales_data.
- Split the data into training and test sets (80% training, 20% test).
- Train a linear regression model to predict Fuel_efficiency based on Engine_size and Curb_weight.
- Display the model's coefficients and intercept.
- Plot the actual vs. predicted Fuel_efficiency values as a scatter plot.
- Calculate and display the Mean Squared Error (MSE) and R² score.

3. Exercise 3: Classify Cars Based on Awards  
Goal: Perform a classification to predict if a car has received an award (Awarded) based on Horsepower and Price_in_thousands.  

Instructions:

- Import the necessary libraries (pandas, scikit-learn, and matplotlib).
- Use the columns Awarded, Horsepower, and Price_in_thousands from the DataFrame df.
- Split the data into training and test sets (80% training, 20% test).
- Train a classification model (e.g., Logistic Regression) to predict the Awarded column.
- Evaluate the model using accuracy, a confusion matrix, and a classification report.
- Plot a scatter plot of Horsepower vs Price_in_thousands with points colored by their predicted class (Awarded or Not Awarded).