# Welcome to PYTHON PROGRAMMING LANGUAGE

# The interface: JUPYTER NOTEBOOK

Jupyter notebook works with **CELLS**   
We have 2 kind of cells
- **COMMAND CELLS**: contains python commands to be executed
- **TEXT CELLS**: contains formatted text to be red

# Command Cell

In [91]:
# this is a comment in a code cell
# a cell code can be executed
print("Hello World")

Hello World

# Text Cell

This is comment in a text cell. Text cells are usuful to print **formatted** text
## You can also print  
math symbols like $\frac{1}{\pi}*\int f(x) \, dx$

# CONCEPT 1: PYTHON OBJECTS  
In Python, objects are central to everything, as Python is an object-oriented programming language  

1) OBJECTS IN PYTHON **STORE INFORMATION (IN FIELD)** AND **PERFORM ACTIONS (WITH METHODS)**
2) AN OBJECT IN PYTHON HAS A SPECIFIC **TYPE** (the kind of the object)

## NUMERICAL OBJECTS

Let's create (technically **build**) some **numerical objects** and perform arithmetic operations

In [41]:
# if you run this cell you build a "type" INT object (AN INTEGER NUMBER) that store the value 5
5

5

In [19]:
# Let's check the TYPE of the object with function type
type(5)

int

In [49]:
# if you run this cell you create a "type" FLOAT object (A REAL NUMBER) that store the value 3.2
3.2

3.2

In [27]:
type(3.2)

float

## OPERATORS: Operators perform actions between objects  
Operator **+** takes 2 numerical objects that contains value 5 and 3 and then calculate their sum  
Take care that the operator takes 2 objects of the **same type**

In [28]:
# operator + takes 2 numerical objects that contains value 5 and 3 and then calculate their sum
# take care that operator takes 2 objects of the same type
5+3

8

Operator + also is able to calculate with objects of different type (but always numerical)

In [59]:
2+3.2

5.2

In [163]:
(5-4)/2

0.5

Let's now see some operators

## Arithmetics Operators

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

Operators have their own **precedence rules** (similar to those in mathematics). To change these precedences, parentheses are used. An important difference is that in Python **only round parentheses** are used for this purpose: we can open as many as we want, one inside the other: we just need to remember to close them! Forgetting to close an open parenthesis is a rather common mistake.
Let's see some examples:

| **Math** | **Python** |  |
|----------------|------------|--|
| $( 3(2+5) )$   | `3 * (2 + 5)`  | It is necessary to write the `*` even when it is implicit in mathematics |
| $(\frac{5}{4^2 - 6})$   | `5 / (4 ** 2 - 6)` | Division has a higher priority than subtraction so parentheses are needed. |
| $(\left( \frac{1}{4} + 2 \left[ \frac{1}{5} - \left( 1 + \frac{1}{3} \right) \right] \right)^2 )$   | `(1 / 4 + 2 * (1 / 5 - (1 + 1 / 3))) ** 2` | Three open and three closed round brackets |
| A circular platform rotates through an angle of 165° 12 times in a row. What angle will it finally form with respect to the starting position?| `(165 * 12) % 360` | The `%` operator is often used for numbers that can only take on a limited set of values ​​(e.g. angles, hours of day, etc.) |

## EXERCISE
Try to calculate the expressions in the left column above

In [180]:
(1 / 4 + 2 * (1 / 5 - (1 + 1 / 3))) ** 2

4.066944444444444

# CONCEPT 2: VARIABLES
A **variable** is a symbolic name TO point to **AN OBJECT** created and stored in memory.   
Variables allow you **to access data and methods of the object** and reuse it throughout your code.   
When you create a variable, you assign it a value using the **=** operator (**ASSIGNMENT OPERATION**)

## Python Variables Are Pointers

Assigning variables in Python is as easy as putting a variable name to the left of the equals (``=``) sign:

```python
# assign 4 to the variable x
x = 4
```

It seems as we create a space in memory, named x, and insert directly the value 4 in that space.

This is NOT the way in which Python works.

In Python variables are best thought of not as containers but as **POINTERS**.
So in Python, when you write

```python
x = 4
```

you are essentially defining a *pointer* named ``x`` that points to an object in memory that contains the value ``4``. The right part of the assignment instruction above, creates an int object in memory and assignes the address memory of that object to the pointer ``x``. 


In this way, variable a is able to accesso all the information of the object, including value, fields and methods.

https://github.com/pal-dev-labs/Python-for-Economic-Applications-2024-2025/blob/main/Images/fig-variable-object-3.png

In [108]:
x = 4      # a is the name of the VARIABLE, a=10 is an ASSIGNMENT

In [102]:
type(x)

int

In [104]:
b = 10*2.2-4  # 10*2-4 is an EXPRESSION, In this case b point to an object that is the result of the expressionT
print(b)

18.0

In [106]:
type(b)

float

In [37]:
# let's calculate the area of a triangle
base = 10
high = 20
area = base * high /2
print (area)

100.0

## STRING OBJECT (and operations)
In Python, a string object is a **sequence of characters** used to represent text. 
Strings are one of Python's fundamental data types, and like all data types in Python, they are objects.  
This means that strings come with a variety of methods and properties that make them easy to work with

You can also assign to a variable a set of **CHARACTERS** that form a **STRING**

In [112]:
school = "University of Tor Vergata"   # I assign the string "University of Tor Vergata" to the variable school
print (school)

University of Tor Vergata

In [114]:
# let's check the type of variable school
type(school)

str

You can perform operations between strings. The **+** operator **concatenates** two strings

In [116]:
a = "The name of this course is: "
b = "Coding for Economic Applications"
c = a + b
print(c)

The name of this course is: Coding for Economic Applications

The * operator repeats a string n times

In [123]:
# You can repeat a string using the `*` operator.
repeated_string = "Echo! " * 3                # Repeat "Echo! " three times
print(repeated_string)                        # Output: Echo! Echo! Echo!

Echo! Echo! Echo!

## Exercise
Write the code to print the volume of a cilinder given the radius and high   
$V = 3.14 * r^2 *h$

## Exercise: Write the code to print  
'm m m m m '  
'MammaMammaMammaMaMaMaMaMa'  
'cane cane cane canecanecane'

# Speed up coding with chatGPT 
Go to chatGPT and write in the prompt: " write the python code to print the volume of a cylinder"

## BOOLEAN OBJECT
A boolean object can assume only 2 values: **True** or **False**

In [128]:
a = True
b = False

In [130]:
a

True

In [132]:
type(a)

bool

## Types RECAP
Objects have type information attached. 

There are built-in simple types offered by Python and several compound types.

Python's simple types are summarized in the following table:

<center>**Python Scalar Types**</center>

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``complex`` | ``1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |
| ``bool``    | ``True``   | Boolean: True/False values                                   |
| ``str``     | ``'Ab$'``  | String: characters or text                                   |
| ``NoneType``| ``None``   | Special object indicating nulls                              |

## COMPARISON OPERATIONS

Another type of operation which can be very useful is comparison of different values.
For this, Python implements standard comparison operators, which **return Boolean values** ``True`` and ``False``.
The comparison operations are listed in the following table:

| ``a == b``| ``a`` equal to ``b``      
| ``a != b`` | ``a`` not equal to ``b``             
| ``a < b``| ``a`` less than ``b``         
| ``a > b``| ``a`` greater than ``b``             
| ``a <= b``| ``a`` less than or equal to ``b``
|``a >= b`` | ``a`` greater than or equal to ``b``



These comparison operators can be combined with the arithmetic and bitwise operators to express a virtually limitless range of tests for the numbers.
For example, we can check if a number is odd by checking that the modulus with 2 returns 1:

In [47]:
2 < 1

False

In [51]:
# 25 is odd
25 * 2 == 1

False

In [141]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

## BOOLEAN OPERATORS
When working with Boolean values, Python provides operators to combine the values using the standard concepts of "and", "or", and "not".
Predictably, these operators are expressed using the words ``and``, ``or``, and ``not``:

**and** operator gives back TRUE if both arguments are TRUE, otherwise is FALSE
(True) and (True) ----> True

In [143]:
True and False

False

In [145]:
x = 4
(x > 2) and (x < 6)

True

**or** operator gives back FALSE if both arguments are FALSE, otherwise is TRUE
(False) or (False) ----> True

In [84]:
True or False

True

In [79]:
(x > 10) or (x % 2 == 0)

True

**not** operator gives back the opposite of the argument    
not (False) ----> True  
not (True) ----> False

In [94]:
not(False)

True

In [96]:
not (x < 6)

False

These sorts of Boolean operations will become extremely useful when we begin discussing *control flow statements* such as conditionals and loops.

## LIST OBJECT
Let's see a more comples object: an object that **contains other objects** (a Data Structures).  

List object can be built with **[]** operator

In [16]:
# Lists can contain any type of objects and they can contain as many objects as you wish.
# Lists can also be iterated over in a very simple manner (will see ahead)
# Here is an example of how to build a list.
list_example = [1, 4, 9, 2.3, True, "Hello"]

In [8]:
print(list_example)

[1, 4, 9, 2.3, True, 'Hello']

In [10]:
type(list_example)

list

We can also use variables inside the [] operator

In [32]:
a = 10
b="Hello"
squares=[1,4,9,16,25,36]
list2 = [a,b,squares]   # i can insert into list 
print(list2)

[10, 'Hello', [1, 4, 9, 16, 25, 36]]

In [36]:
# Lists can be indexed and sliced:
print(squares)
print(squares[0])  # indexing returns the item
print(squares[0:3]) # slicing returns a new list
print(squares[-1]) # start from the last element
print(squares[1:-1]) # print without the first and the last element

# All slice operations return a new list containing the requested elements.

[1, 4, 9, 16, 25, 36]
1
[1, 4, 9]
36
[4, 9, 16, 25]

In [38]:
# Lists also support operations like concatenation:
print(squares + [36, 49, 64, 81, 100])

[1, 4, 9, 16, 25, 36, 36, 49, 64, 81, 100]

In [42]:
# Unlike strings, which are immutable, lists are a mutable type, i.e. it
# is possible to change their content:
cubes = [1, 8, 27, 65, 125]  # something's wrong here, the cube of 4 is 64!
cubes[3] = 64  # replace the wrong value
print( cubes )

[1, 8, 27, 64, 125]

# CONCEPT 3 - FUNCTION OBJECT
In Python a function is a particular OBJECT that is able to receive in input one or more arguments, perform some actions and produce an output.

We have already seen some defined python functions:

In [47]:
print("Hello")  # print to the screen the argument "Hello"
a= 10   
type(a) # type function return the type of a variable/object given as argument

Hello

int

In [49]:
a="10"
b = float(a)   # float function convert a string object a into a FLOAT object b

In [51]:
print(a+a)
print(b+b)

1010
20.0

In [55]:
a = input("Insert a number")  # input function wait for an input from keyboard and store it in a string

Insert a number ciao

In [57]:
print(a)

ciao

In [61]:
c = input("Insert a number")
b = float(c)*5
print(b)

Insert a number 10

50.0

## Create a function by definition
Let's try to create $f(x) = 2x + 4$

In [189]:
def f(x):    # we use the 'def' command followed by the name of the function; we also use () to specify one or more input arguments
    result = 2 * x + 4  # we specify the form of the function
                   # TAKE CARE: instructions are indented. It's python syntax to create a block of code
    return result
# Take care: objects created inside a function are not accessible from outside 
# In this case, you cannot access the value of internal variables z from the outside program (SCOPING)

In [191]:
# to call a function just write the function and its arguments
f(7)

18

In [179]:
# Let's define functions with more variables
def g(x,y):
    z = 2 * x-3 *y
    return z

In [181]:
g(4,9)

-19

The nice thing in Python is that it manages automatically the type of variable

In [166]:
def sumaguments(x,y):
    z = x+y
    # print("The result of the operation is: ",z)
    return z       # return is mandatory when you have to give back to the caller some results

In [183]:
sumaguments(2,3)

5

In [185]:
sumaguments("Hello"," from Torvergata")

'Hello from Torvergata'

In [187]:
# of course we can also assign the result to a variable
result = sumaguments(5,3)
print("Result is: ", result)

Result is:  8

# CONCEPT 4: OBJECT METHODS
OBJECTS IN PYTHON **STORE INFORMATION (IN FIELD)** AND **PERFORM ACTIONS (WITH METHODS)** 

**METHODS** are functions associated with object that are automatically available when the object is created

Let's create an object list and the pointer (list1 variable) to this object

In [91]:
list1 = [3,5,6,7,8,8,9,3,4,5,6,7,8,5,12,54,32]

With the object list1 we have many methods (functions) available.
We can call a method with the **dot notation** **"list1."**  
For example let's try with **list1.sort()**

In [115]:
list1.sort()
list1

[3, 3, 4, 5, 5, 5, 6, 6, 7, 7, 8, 8, 8, 9, 12, 32, 54]

In [117]:
list1.reverse()
list1

[54, 32, 12, 9, 8, 8, 8, 7, 7, 6, 6, 5, 5, 5, 4, 3, 3]

We can see all methods available pressing **TAB key** after list1.

In [ ]:
liat1.

# EXERCISES

## Exercise 1: String Manipulation  
Write a function called **repeat_and_concat(s,n)** that takes a string and an integer n as arguments. The function should repeat the string n times and return the result as a single concatenated string.

## Exercise 2: List Slicing  
Write a function called **middle_elements(numbers)** that takes a list of numbers as an argument and returns a new list containing all elements except the first and last ones.

## Exercise 3: Boolean Logic with Functions  
Create a function called **all_true(a,b,c)** that takes three boolean values as arguments. It should return True if all values are True, and False otherwise.

## Exercise 4: Angle Reducer
Write a function **reduce_angle(alpha)** that take an angle (bigger than 360°) as input from keyboard, and reduce the angle to an angle smaller than a full rotation

## Exercise 5: Temperature Converter
Create a function called **temp_converter (temp)** that take a celsius degree temperature as input from keyboard and convert it into temperature in kelvin and Fahrenheit

## Exercise 6: Sum of Numbers in a List
Write a Python function **sumlist(list_number)** that takes a list of integers as input and returns the sum of all the numbers in the list.

## Exercise 7: Average of Numbers
Write a Python function **average(numbers)** that takes a list of numbers and returns the average (mean) of those numbers.