# A QUICK RECAP

- Everything in Python is an OBJECT. An Object is something that can store data (fields) and performs actions (methods). An object is stored in memory at a specific memory address
- A VARIABLE in python is a pointer to the object. It stores only the memory address of the object
- Each object has a TYPE. Python has many basic types (Boolean, Int, Float, Str, List, Function)

# CONCEPT 1: CONDITIONAL STRUCTURES
A program is a list of instructions that are executed sequentially. With control flow, you can execute certain blocks of code **CONDITIONALLY** and/or **REPEATEDLY** - these basic blocks can be combined to create very sophisticated programs

## Recap: Comparison Operations

A type of operation which can be very useful is comparison of different values.
For this, Python implements standard comparison operators, which return Boolean values ``True`` and ``False``.
The comparison operations are listed in the following table:

| ``a == b``| ``a`` equal to ``b``      
| ``a != b`` | ``a`` not equal to ``b``             
| ``a < b``| ``a`` less than ``b``         
| ``a > b``| ``a`` greater than ``b``             
| ``a <= b``| ``a`` less than or equal to ``b``
|``a >= b`` | ``a`` greater than or equal to ``b``



These comparison operators can be combined with the arithmetic and bitwise operators to express a virtually limitless range of tests for the numbers.
For example, we can check if a number is odd by checking that the modulus with 2 returns 1:

## Conditional Statements: ``if``-``elif``-``else``:
Conditional statements, often called *if-then* statements, allow the programmer to execute certain pieces of code depending on some Boolean condition.
A basic example of a Python conditional statement is this:

In [4]:
# the comparison operator < gives back a boolean value (True or False)
x=1
x<0

False

In [8]:
x = 1
if x > 3:    # if boolean value is TRUE
    print("number is bigger than 3")

We can also make the alternative explicit

In [10]:
x = 0

if x >= 0:
    print("X is bigger than 0")
else:
    print(x, "x is lower than 0")

X is bigger than 0

We can explain more alternatives

In [19]:
x = float(input("insert a number:"))

if x == 0:
     print("the number entered is zero")
elif x < 0:
     print("the number entered is negative")
elif (0 < x) and (x <= 5):
     print("the number is between (or equal to) 0 and 5")
else:
     print("the number is greater than 5")

insert a number: 3

the number is between (or equal to) 0 and 5

## Exercise
Write a conditional statement that, given an input string, tells you if the length of the string is greater than 7 characters  
use function len(x) to get the length of a string

## Exercise

Write a function that receives two integers and tells us whether the first number is greater than the second

# CONCEPT 2: CYCLES (``for`` loop)
Loops in Python are a way to repeatedly execute some code statements.
So, for example, if we want to print each of the elements in a list, we can use a ``for`` loop:

In [21]:
a = [1,2,3,4,5]

In [23]:
for i in a:
    print(i)

1
2
3
4
5

The list could contain also different obects

In [29]:
a = [1 ,"Hello", 3.5, True, [1,2,3,4] ]
for i in a:
    print (i)

1
Hello
3.5
True
[1, 2, 3, 4]

Note the simplicity of the for loop:

1) we specify the variable we want to use,
2) the sequence we want to loop over
3) and we use the "in" operator to connect them together in an intuitive and readable way.

What if i want to cycle over a big set of elements?
Python gives the **range()** function which generates a sequence of numbers:

In [41]:
a = list(range(15))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [32]:
for i in range(10):   # no need list() function
    print(i)

0
1
2
3
4
5
6
7
8
9

We can perform **actions** inside a for loop  
For example, let's create a function that sums all the numbers in a list

In [37]:
def sumlist(x):
    counter = 0
    for i in x:
        counter = counter + i
    return counter

In [46]:
# let's create the list
x = list(range(0, 20, 1))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [48]:
sumlist(x)

190

Let's write a Python function that takes two lists and returns True if they have at least one element in common

In [50]:
def checklist(x,y):
    found = False
    counter=0
    for i in x:
        for j in y:
            if i == j:
                counter=counter+1
                found = True
    return found,counter

In [54]:
x = [1,2,3,5,6]
y= [1,2,7,8,9,10]
a1, a2 = checklist(x,y)
print("Found is ", a1, " N. times =", a2)

Found is  True  N. times = 2

## Exercise
Write a function to calculate the factorial of a number

## Exercise
Count the vowels in a word

# CONCEPT 3. CYCLES (WHILE loop)

The while loop executes as long as the condition remains true. 
In Python, like in C, any non-zero integer value is true; zero is false. 
The condition may also be a string or list value, in fact any sequence; anything with a non-zero length is true, empty sequences are false.  
The test used in the example is a simple comparison. The standard comparison operators are written the same as in C: < (less than), > (greater than), == (equal to), <= (less than or equal to), >= (greater than or equal to) and != (not equal to).

In [95]:
a = True
number = 0
while a:
    number = number + 1
    if number == 10:
        a = False
print(number)

10

In [97]:
# Let's raise the number to certain power using while loop.
number = 2
power = 5

result = 1

while power > 0:
    result *= number
    power -= 1

# 2^5 = 32
print( result)

32

# Example. Analyze stock performance

Here’s a basic example of an economic application in Python that uses a for loop and if statements to analyze stock performance. This app calculates the annual return on investment (ROI) for a set of stock prices and determines if the ROI meets a target return threshold.

In [12]:
# Define a list of stock prices for each year
stock_prices = [100, 110, 115, 130, 120, 150]  # Prices at year-end from the start to the end of the investment

# Define target annual ROI (in percentage)
target_roi = 10

In [14]:
# Initialize an empty list to store the annual ROI results
annual_returns = []

# Loop through each year to calculate the annual ROI
for i in range(1, len(stock_prices)):
    # Calculate the ROI from the previous year's price to the current year's price
    previous_price = stock_prices[i - 1]
    current_price = stock_prices[i]
    roi = ((current_price - previous_price) / previous_price) * 100  # ROI formula in percentage

    # Append the ROI to the annual_returns list
    annual_returns.append(roi)

    # Check if the ROI meets or exceeds the target
    if roi >= target_roi:
        print(f"Year {i}: ROI = {roi:.2f}% - Target met!")
    else:
        print(f"Year {i}: ROI = {roi:.2f}% - Target not met")

# Display annual returns for all years
print("\nAnnual ROI results:", annual_returns)

Year 1: ROI = 10.00% - Target met!
Year 2: ROI = 4.55% - Target not met
Year 3: ROI = 13.04% - Target met!
Year 4: ROI = -7.69% - Target not met
Year 5: ROI = 25.00% - Target met!

Annual ROI results: [10.0, 4.545454545454546, 13.043478260869565, -7.6923076923076925, 25.0]

# Exercise: Montly budget

Here’s another example: a simple application that analyzes monthly expenses and categorizes each expense as either "Under Budget" or "Over Budget" based on a predefined monthly budget. This can be useful for personal finance management.

In [22]:
# Monthly expenses (in dollars) for each month
monthly_expenses = [950, 1020, 870, 1200, 980, 1100, 940, 990, 1300, 1250, 1050, 900]

# Define the monthly budget
monthly_budget = 1000

In [20]:
#....write code here

# SOLUTION

In [24]:
# Initialize variables to track the number of "Under Budget" and "Over Budget" months
under_budget_count = 0
over_budget_count = 0

# Loop through each month's expense
for month, expense in enumerate(monthly_expenses, start=1):
    # Check if the expense is under or over the budget
    if expense <= monthly_budget:
        print(f"Month {month}: Expense = ${expense} - Under Budget")
        under_budget_count += 1
    else:
        print(f"Month {month}: Expense = ${expense} - Over Budget")
        over_budget_count += 1

# Display summary
print("\nSummary:")
print(f"Months Under Budget: {under_budget_count}")
print(f"Months Over Budget: {over_budget_count}")

# Calculate the total yearly expense and check if it meets the annual budget
total_expense = sum(monthly_expenses)
annual_budget = monthly_budget * 12

if total_expense <= annual_budget:
    print(f"Total Yearly Expense = ${total_expense} - Within Annual Budget")
else:
    print(f"Total Yearly Expense = ${total_expense} - Exceeds Annual Budget")

Month 1: Expense = $950 - Under Budget
Month 2: Expense = $1020 - Over Budget
Month 3: Expense = $870 - Under Budget
Month 4: Expense = $1200 - Over Budget
Month 5: Expense = $980 - Under Budget
Month 6: Expense = $1100 - Over Budget
Month 7: Expense = $940 - Under Budget
Month 8: Expense = $990 - Under Budget
Month 9: Expense = $1300 - Over Budget
Month 10: Expense = $1250 - Over Budget
Month 11: Expense = $1050 - Over Budget
Month 12: Expense = $900 - Under Budget

Summary:
Months Under Budget: 6
Months Over Budget: 6
Total Yearly Expense = $12550 - Exceeds Annual Budget

# Exercise: Analyze Consumer Spending Data
Scenario:  
You are tasked with analyzing monthly consumer spending data for a small business. The business tracks spending in different categories such as groceries, entertainment, utilities, and miscellaneous. Your goal is to calculate various insights using Python.
 
Instructions:  
Write a function analyze_spending(categories, spending, threshold):
- categories is a list of category names (e.g., ["groceries", "entertainment", "utilities", "miscellaneous"]). 
- spending is a list of lists, where each inner list contains monthly spending amounts for a corresponding category.
- threshold is a float value representing the upper limit of spending for any month.


The function should:

- Use a for loop to iterate over the spending data.
- Use a conditional statement to check if any monthly spending in a category exceeds the threshold.
- Print a message for each category indicating whether it stayed within the budget (threshold) or exceeded it.
- Return a list of categories that exceeded the threshold.

For example f the input is:

In [68]:
# INPUT DATA
categories = ["groceries", "entertainment", "utilities", "miscellaneous"]
spending = [
    [200, 150, 180],
    [120, 300, 250],
    [100, 100, 100],
    [50, 60, 40],
]
threshold = 200

The output might be:

- groceries: All spending is within the budget.
- entertainment: Exceeded the budget!
- utilities: All spending is within the budget.
- miscellaneous: All spending is within the budget.

And the function would return:
["entertainment"]

# SOLUTION

In [72]:
def analyze_spending(categories, spending, threshold):
    exceeded_categories = []
    
    # Loop through each category and its spending data
    for i in range(len(categories)):
        category = categories[i]
        category_spending = spending[i]
        
        # Check if any spending in this category exceeds the threshold
        if any(amount > threshold for amount in category_spending):
            print(f"{category}: Exceeded the budget!")
            exceeded_categories.append(category)
        else:
            print(f"{category}: All spending is within the budget.")
    
    # Return the list of categories that exceeded the budget
    return exceeded_categories

In [74]:
analyze_spending(categories, spending, threshold)

groceries: All spending is within the budget.
entertainment: Exceeded the budget!
utilities: All spending is within the budget.
miscellaneous: All spending is within the budget.

['entertainment']

# CONCEPT 4: DICTIONARIES (Data Structures)  
A dictionary is a collection which is unordered, changeable and indexed. 
In Python dictionaries are written with curly brackets, and they have keys and values.  

Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”.  
Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. 

It is best to think of a dictionary as a set of key:value pairs, with the requirement that the
keys are unique (within one dictionary).   
A pair of braces creates an empty dictionary: {}.
Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

In [101]:
fruits_dictionary = {
    'cherry': 'red',
    'apple': 'green',
    'banana': 'yellow',
}

The Type of a dictionary is **dict**

In [105]:
type(fruits_dictionary)

dict

In [61]:
# You may access set elements by keys.
print(fruits_dictionary['apple'])
print( fruits_dictionary['banana'] )
print( fruits_dictionary['cherry'] )

green
yellow
red

In [110]:
# To check whether a single key is in the dictionary, use the in keyword.
print( 'apple' in fruits_dictionary)
print( 'pineapple' not in fruits_dictionary)

True
True

In [108]:
# Change the apple color to "red".
fruits_dictionary['apple'] = 'red'

In [112]:

# Add new key/value pair to the dictionary
fruits_dictionary['pineapple'] = 'yellow'
print( fruits_dictionary['pineapple'] )

yellow

In [65]:

# Performing list(d) on a dictionary returns a list of all the keys used in the dictionary,
# in insertion order (if you want it sorted, just use sorted(d) instead).
print( list(fruits_dictionary) )
print( sorted(fruits_dictionary))

['cherry', 'apple', 'banana', 'pineapple']
['apple', 'banana', 'cherry', 'pineapple']

In [66]:

# It is also possible to delete a key:value pair with del.
del fruits_dictionary['pineapple']
print( list(fruits_dictionary) )

['cherry', 'apple', 'banana']

In [67]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs.
dictionary_via_constructor = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

print( dictionary_via_constructor['sape'] )
print( dictionary_via_constructor['guido'] )
print( dictionary_via_constructor['jack'] )

4139
4127
4098

Let's create a phone book<

In [119]:
phone_book = {
    "Smith": "555-0123",
    "Johnson": "555-0456",
    "Williams": "555-0789",
    "Brown": "555-1011",
    "Jones": "555-1213",
    "Garcia": "555-1415",
    "Martinez": "555-1617",
    "Davis": "555-1819",
    "Lopez": "555-2021",
    "Wilson": "555-2223",
    "Anderson": "555-2425",
    "Taylor": "555-2627",
    "Thomas": "555-2829",
    "Hernandez": "555-3031",
    "Moore": "555-3233",
    "Martin": "555-3435",
    "Jackson": "555-3637",
    "Thompson": "555-3839",
    "White": "555-4041",
    "Harris": "555-4243"
}

In [121]:
# 1. Print all entries in the phone book
print("Phone book entries:")
for surname, number in phone_book.items():
    print(f"{surname}: {number}")
print()

Phone book entries:
Smith: 555-0123
Johnson: 555-0456
Williams: 555-0789
Brown: 555-1011
Jones: 555-1213
Garcia: 555-1415
Martinez: 555-1617
Davis: 555-1819
Lopez: 555-2021
Wilson: 555-2223
Anderson: 555-2425
Taylor: 555-2627
Thomas: 555-2829
Hernandez: 555-3031
Moore: 555-3233
Martin: 555-3435
Jackson: 555-3637
Thompson: 555-3839
White: 555-4041
Harris: 555-4243

In [123]:
# 2. Look up a phone number by surname
surname_to_find = "Garcia"
if surname_to_find in phone_book:
    print(f"The phone number for {surname_to_find} is {phone_book[surname_to_find]}")
else:
    print(f"{surname_to_find} is not in the phone book.")
print()

The phone number for Garcia is 555-1415

In [125]:
# 3. Add a new entry to the phone book
new_surname = "Clark"
new_number = "555-4545"
phone_book[new_surname] = new_number
print(f"Added {new_surname}: {new_number} to the phone book.")
print()

Added Clark: 555-4545 to the phone book.

In [127]:
# 4. Update an existing entry
surname_to_update = "Smith"
updated_number = "555-9999"
if surname_to_update in phone_book:
    phone_book[surname_to_update] = updated_number
    print(f"Updated {surname_to_update}'s phone number to {updated_number}")
else:
    print(f"{surname_to_update} is not in the phone book.")
print()

Updated Smith's phone number to 555-9999

In [129]:
# 5. Remove an entry from the phone book
surname_to_remove = "Lopez"
if surname_to_remove in phone_book:
    del phone_book[surname_to_remove]
    print(f"Removed {surname_to_remove} from the phone book.")
else:
    print(f"{surname_to_remove} is not in the phone book.")
print()

Removed Lopez from the phone book.

In [131]:
# 6. Print the number of entries in the phone book
print(f"The phone book now has {len(phone_book)} entries.")

The phone book now has 20 entries.

# Exercise: Analyzing Economic Data with Python Dictionaries  
Problem Statement:
You are given economic data for several countries in the form of Python dictionaries.  
Each dictionary contains information about one economic metric, such as GDP, inflation rate, and unemployment rate.   
Using this data, write code to answer specific questions and perform calculations.

Provided Data:
- GDP (in billions USD)
- Inflation Rate (in percentage)
- Unemployment Rate (in percentage)

Data Setup:
The following data should be copied and used in your code.

In [52]:
# GDP data (in billions USD)
gdp = {
    "United States": 21433,
    "Germany": 4223,
    "Japan": 4937,
    "India": 3171,
    "Brazil": 1839
}

# Inflation rates (in percentage)
inflation_rate = {
    "United States": 3.2,
    "Germany": 2.8,
    "Japan": 1.1,
    "India": 6.4,
    "Brazil": 4.5
}

# Unemployment rates (in percentage)
unemployment_rate = {
    "United States": 4.0,
    "Germany": 3.5,
    "Japan": 2.6,
    "India": 7.2,
    "Brazil": 8.1
}
# population data (in millions)
population = {
    "United States": 331,
    "Germany": 83,
    "Japan": 126,
    "India": 1380,
    "Brazil": 212
}

## Tasks:
Calculate and Print GDP per Capita:

Write a function that calculates GDP per capita for each country and prints it in the format:

## Tasks:

Identify Countries with High Inflation:

Write a function that prints the names of countries with an inflation rate above 4%.

## Tasks:

Calculate Average Unemployment Rate:

Write a function that calculates and returns the average unemployment rate for all countries.

# List Comprehensions
List comprehensions are simply a way to build list with for-loop into a single short, readable line.
For example, here is a loop that constructs a list of the first 12 square integers:

In [ ]:
L = []
for n in range(12):
    L.append(n ** 2)
L

The list comprehension equivalent of this is the following:

In [ ]:
[n ** 2 for n in range(12)]

This basic syntax, then, is ``[``*``expr``* ``for`` *``var``* ``in`` *``iterable``*``]``, where *``expr``* is any valid expression, *``var``* is a variable name, and *``iterable``* is any iterable Python object.

## Multiple Iteration
Sometimes you want to build a list not just from one value, but from two. To do this, simply add another ``for`` expression in the comprehension:

In [ ]:
[(i, j) for i in range(2) for j in range(3)]

Notice that the second ``for`` expression acts as the interior index, varying the fastest in the resulting list.
This type of construction can be extended to three, four, or more iterators within the comprehension

## Conditionals on the Iterator
You can further control the iteration by adding a conditional to the end of the expression.
In the below example, we iterated over all numbers from 1 to 50, saving all multiples of 7.
Look at this again, and notice the construction:

In [ ]:
[val for val in range(50) if val % 7 == 0]

The expression ``(i % 7 > 0)`` evaluates to ``True`` unless ``val`` is divisible by 7.
Again, the English language meaning can be immediately read off: "Construct a list of values for each value up to 50, but only if the value is not divisible by 7".
Once you are comfortable with it, this is much easier to write – and to understand at a glance – than the equivalent loop syntax:

In [ ]:
L = []
for val in range(50):
    if val % 7:
        L.append(val)
print(L)

## Exercise 10. 
Extract even numbers from a list using list comprehension