# PYTHON FOR ECONOMIC APPLICATION - PYTHON LANGUAGE INTERMEDIATE TEST
## INSTRUCTIONS
- You have 50 minutes to complete the below exercise
- After building the code, run the cells in order to verify the required output
- At the end of the test, download locally the notebook (click on File-Download) and send it as attachment to giando.palumbo2@gmail.com


## Exercise 1: Calculate Average Price
Write a function `average_price(prices)` that:
1. Takes a list of item prices as input.
2. Uses a `for` loop to calculate the total sum of the prices.
3. Returns the average price (total sum divided by the number of items).

Example:
Input: prices = [10, 20, 30]
Output: 20.0


## Exercise 2: Filter Expenses Above Budget
Write a function `filter_expenses(expenses, budget)` that:
1. Takes two inputs: `expenses` (list of expense amounts) and `budget` (a maximum allowed value).
2. Uses a `for` loop and `if` statements to create a new list with only the expenses that exceed the budget.
3. Returns the new list.

Example:
Input: expenses = [100, 150, 50, 200], budget = 120
Output: [150, 200]

## Exercise 3: Calculate Compound Interest
Write a function `compound_interest(principal, rate, years)` that:
1. Takes three inputs: `principal` (initial investment), `rate` (annual interest rate in percentage), and `years` (number of years).
2. Uses a `for` loop to calculate the compound interest for each year.
3. Returns a list of the investment value at the end of each year.

Example:
Input: principal = 1000, rate = 5, years = 3
Output: [1050.0, 1102.5, 1157.625]

## Exercise 4: Calculate Total Payroll
Write a function `calculate_payroll(hours_worked, hourly_rate)` that:
1. Takes two inputs: `hours_worked` (list of hours worked by employees) and `hourly_rate` (the hourly wage).
2. Uses a `for` loop to calculate the total pay for each employee (hours worked * hourly rate).
3. Returns a list of total pay amounts.

Example:
Input: hours_worked = [40, 35, 30], hourly_rate = 15
Output: [600, 525, 450]

## Exercise 5: Identify Top Sellers
Write a function `top_sellers(sales, threshold)` that:
1. Takes two inputs: `sales` (list of sales amounts for each employee) and `threshold` (a minimum sales amount to be considered a top seller).
2. Uses a `for` loop and `if` statements to identify which employees are top sellers.
3. Returns a list of indexes (positions) of employees who are top sellers.

Example:
Input: sales = [500, 1200, 800, 1500], threshold = 1000
Output: [1, 3]

## Exercise 6: Calculate Total Inventory Value
Write a function `inventory_value(inventory)` that:
1. Takes a dictionary `inventory` where keys are item names and values are dictionaries with `price` and `quantity`.
2. Uses a list comprehension to calculate the total value for each item (`price * quantity`).
3. Returns a dictionary with the item names as keys and their total values as values.

Example:
Input: inventory = {
    "Apples": {"price": 2, "quantity": 50},
    "Bananas": {"price": 1, "quantity": 100},
    "Oranges": {"price": 3, "quantity": 30}
}
Output: {"Apples": 100, "Bananas": 100, "Oranges": 90}

## Exercise 7: Update Stock Quantities
Write a function `update_stock(stock, sold)` that:
1. Takes two dictionaries: `stock` (current quantities of items) and `sold` (quantities sold for each item).
2. Uses a `while` loop to update the stock by subtracting the sold quantities.
3. Returns the updated stock dictionary.

Example:
Input: 
stock = {"Apples": 50, "Bananas": 100, "Oranges": 30}
sold = {"Apples": 10, "Bananas": 20, "Oranges": 5}
Output: {"Apples": 40, "Bananas": 80, "Oranges": 25}


## Exercise 8: Analyze Sales Performance
Write a function `sales_performance(sales, target)` that:
1. Takes a dictionary `sales` where keys are employee names and values are their sales amounts, and a `target` sales amount.
2. Uses a dictionary comprehension to classify each employee as `"Above Target"` or `"Below Target"`.
3. Returns a dictionary with the employee names as keys and their classification as values.

Example:
Input: 
sales = {"Alice": 1200, "Bob": 800, "Charlie": 1500}
target = 1000
Output: {"Alice": "Above Target", "Bob": "Below Target", "Charlie": "Above Target"}


## Exercise 9: Analyze Sales Performance
Write a function `sales_performance(sales, target)` that:
1. Takes a dictionary `sales` where keys are employee names and values are their sales amounts, and a `target` sales amount.
2. Uses a dictionary comprehension to classify each employee as `"Above Target"` or `"Below Target"`.
3. Returns a dictionary with the employee names as keys and their classification as values.

Example:
Input: 
sales = {"Alice": 1200, "Bob": 800, "Charlie": 1500}
target = 1000
Output: {"Alice": "Above Target", "Bob": "Below Target", "Charlie": "Above Target"}