# PYTHON FOR ECONOMIC APPLICATION 
# FINAL TEST
## INSTRUCTIONS
- You have **90 minutes** to solve **at least the exercises of section 1,2,3**
- After building the code, **run the cells** in order to **verify** the required output
- At the end of the test, **download** the notebook locally (click on File-Download) and **send it** as attachment to **giando.palumbo2@gmail.com**

## Run the cells below to import the dataset

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
url = 'https://raw.githubusercontent.com/pal-dev-labs/Python-for-Economic-Applications-2024-2025/refs/heads/main/Data/sales_data.csv'
sales_data = pd.read_csv(url)
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             157 non-null    int64
 1   Manufacturer           157 non-null    object
 2   Model                  157 non-null    object
 3   Sales_in_thousands     157 non-null    float64
 4   Price_in_thousands     157 non-null    float64
 5   TV Advert (thousands)  157 non-null    float64
 6   Social Advert          157 non-null    int64
 7   Engine_size            157 non-null    float64
 8   Horsepower             157 non-null    float64
 9   Wheelbase              157 non-null    float64
 10  Width                  157 non-null    float64
 11  Length                 157 non-null    float64
 12  Curb_weight            157 non-null    float64
 13  Fuel_capacity          157 non-null    float64
 14  Fuel_efficiency        157 non-null    float64
 15  Latest_Launch          157 non-null    object
 16  Power_perf_factor      157 non-null    float64
 17  Awarded                157 non-null    int64
dtypes: float64(12), int64(3), object(3)
memory usage: 22.2+ KB

In [17]:
sales_data

,Unnamed: 0,Manufacturer,Model,Sales_in_thousands,Price_in_thousands,TV Advert (thousands),Social Advert,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Awarded
0,0,Acura,Integra,16.919,21.50,142.516144,53481,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,0
1,1,Acura,TL,39.384,28.40,383.026416,39441,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,0
2,2,Acura,CL,14.114,0.00,165.928640,44114,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,0.000000,0
3,3,Acura,RL,8.588,42.00,63.259267,98103,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,0
4,4,Audi,A4,20.397,23.99,156.508762,38450,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,152,Volvo,V40,3.545,24.40,70.518707,28535,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,0
153,153,Volvo,S70,15.245,27.50,171.875269,117895,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,0
154,154,Volvo,V70,17.531,28.80,172.154270,102228,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,0
155,155,Volvo,C70,3.493,45.50,29.538936,100522,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,0
156,156,Volvo,S80,18.969,36.00,188.781516,28490,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,0

# SECTION 1: Simple extractions from a Dataframe
**Solve both exercises**

## Exercise 1:

Identify cars that cost more than $20,000 and have horsepower greater than 200.

## Exercise 2:

Find cars that had a TV advertising budget of more than $1000 thousand and have won awards.

# SECTION 2: Complex extractions from a Dataframe
**Solve both exercises**

## Exercise 3: Complex Filtering with Multiple Conditions

Identify cars that:

- Were launched after 2015
- Have a power-performance factor greater than 10
- And were advertised on both TV and social media

## Exercise 4: Filtering Based on Categorical Data

Find all the models of cars manufactured by 'Toyota' that have a fuel efficiency greater than 35 mpg.

# SECTION 3: Simple plots
**Solve at least 2 exercises**

## Exercise 5: Creating a Scatter Plot

Create a scatter plot to visualize the relationship between horsepower and fuel efficiency.  
Use color to differentiate between cars with and without awards.

## Exercise 6: Bar Plot of Top 10 Manufacturers

Determine the top 10 manufacturers based on the number of car models.  
Create a bar plot to visualize the distribution of these top 10 manufacturers.

## Exercise 7: Time Series Analysis

Assuming the 'Latest_Launch' column represents the launch date, create a line plot to visualize the trend of car launches over time.

# OPTIONAL SECTIONS

# SECTION 4: Analyze and plot

## Exercise 8: Analyzing Fuel Efficiency by Engine Size

- Filter: Create a new DataFrame containing only cars with engine sizes between 2.0 and 3.0 liters.  
- Group and Aggregate: Group the filtered DataFrame by engine size and calculate the average fuel efficiency for each group.  
- Visualization: Create a bar plot to visualize the average fuel efficiency for different engine sizes.

## Exercise 9: Comparing Advertising Effectiveness

- Filter: Create two DataFrames: one for cars with TV advertising budgets greater than the median and another for cars with social media advertising budgets greater than the median.
- Group and Aggregate: For each DataFrame, group by the 'Awarded' column and calculate the count of awarded and non-awarded cars.
- Visualization: Create a stacked bar chart to compare the proportion of awarded and non-awarded cars between the two advertising groups.

# SECTION 5: Forecast
**Solve at least 1 exercise**

## Exercise 10: Linear Regression with One Parameter

- Feature Selection: Choose a single feature, such as 'Engine_size', to predict the 'Horsepower'.
- Model Training: Use a linear regression model to fit the data.
- Model Evaluation: Evaluate the model's performance using metrics like Mean Squared Error (MSE) and R-squared.
- Visualization: Plot the regression line on a scatter plot of engine size vs. horsepower.

## Exercise 11: Linear Regression with Multiple Parameters

- Feature Selection: Choose multiple features, such as 'Engine_size', 'Weight', and 'Fuel_efficiency', to predict 'Horsepower'.
- Model Training: Use a multiple linear regression model to fit the data.
- Model Evaluation: Evaluate the model's performance using metrics like Adjusted R-squared and F-statistic.
- Visualization: While it's challenging to visualize a multi-dimensional regression, you can plot the predicted values against the actual values to assess the model's accuracy.

## Exercise 12: Logistic Regression

- Feature Selection: Choose features that might influence whether a car wins an award, such as 'Horsepower', 'Fuel_efficiency', and 'Price_in_thousands'.
- Data Preparation: Convert the 'Awarded' column into a binary target variable (0 for not awarded, 1 for awarded).
- Model Training: Use a logistic regression model to predict the probability of a car winning an award based on the selected features.
- Model Evaluation: Evaluate the model's performance using metrics like accuracy, precision, recall, and F1-score.
- Visualization: Create a confusion matrix to visualize the model's predictions and true labels.